%dl{ :class => "employer nav" }
  %dt
    For Employers
  %dd
    %a{ :href=> "/statistics" }
      Statistics
  %dd
    %a{ :href=> "/interviewing-veterans" }
      Interviewing Veterans
  %dd
    %a{ :href=> "/veteran-job-interests" }
      Veteran Job Interests
  %dd
    %a{ :href=> "/mechanisms-for-connecting" }
      RecruitMilitary's Mechanisms for Connecting

%dl{ :class => "candidate nav" }
  %dt
    For Candidates
  %dd
    %a{ :href=> "/opportunities-for-veterans" }
      Opportunities for Veterans

%dl{ :class => "issue nav" }
  %dt
    Magazine Issues
  %dd
    %a{ :href=> "/may-2010" }
      May 2010

%dl{ :class => "newsletter nav" }
  %dt
    Email Newsletters
  %dd
    %a{ :href=> "/april-2010" }
      April 2010
